In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats

In [2]:
dataset = pd.read_csv('data.csv')

In [3]:
dataset

   data
0    23
1    34
2    56
3    23
4    45
5    67
6    80
7    56
8    32
9    45

In [4]:
arr = dataset.to_numpy() # convert data set to numpy array

In [7]:
np.mean(arr)

46.1

In [8]:
np.std(arr)

17.87987695707104

In [9]:
np.var(arr)

319.68999999999994

In [15]:
stats.mode(arr)

C:\Users\musag\AppData\Local\Temp\ipykernel_3220\1379525054.py:1: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(arr)

ModeResult(mode=array([[23]], dtype=int64), count=array([[2]]))

In [13]:
np.median(arr)

45.0